body{
    background: black;
    color: aliceblue;
    font-family:fantasy;

}

.all{
    background: white;
}

.left{
    cursor: pointer;
}

.right{
    cursor: pointer;
}

p{
    color: green;
    text-align: center;

}


img{
    width:400px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  

}

.castle{
    width:300px;
    height:300px;
}

.end{
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


button{
    color: green;
    font-family:fantasy;

    height: 30px;
  
}