body{
    background: black;
    color: aliceblue;
    font-family:fantasy;

}

.all{
    background: white;
}

.left{
    cursor: pointer;
}

.right{
    cursor: pointer;
}

p{
    color: green;
    text-align: center;

    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px white, 0 0 40px green, 0 0 50px green, 0 0 60px yellowgreen, 0 0 70px yellowgreen;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px yellowgreen, 0 0 60px yellowgreen, 0 0 70px green, 0 0 80px green;
    }
  }










img{
    width:400px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: grey;
  

}

.castle{
    width:300px;
    height:300px;
}

.end{
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


button{
    color: green;
    font-family:fantasy;

    height: 30px;
  
}

.leftorright{
    border-color: grey;
}

.king{
    width: 500px;
    height:700px;
}
